In [5]:
import sqlite3
import pandas as pd

In [2]:
# Create a connection
conn = sqlite3.connect("stocks.db")

In [6]:
# Function to add the table to the database
def add_data(address, table_name):
    f = pd.read_csv(address)
    f.to_sql(table_name, conn, if_exists = "replace", index = False)

In [8]:
# Adding the tables

add_data("../stock_data/IVW_daily.csv", "growth_stock")
add_data("../stock_data/IVE_daily.csv", "value_stock")
add_data("../economy_data/5y_breakeven_inflation_rate.csv", "inflation_5yr")
add_data("../economy_data/CAD_USD.csv", "exchange")
add_data("../economy_data/cpi_growth.csv", "CPI")
add_data("../economy_data/debt_to_gdp.csv", "leverage")
add_data("../economy_data/govt_exp_growth.csv", "spending")
add_data("../economy_data/real_gdp_growth.csv", "GDP")
add_data("../economy_data/treasury_yield_10years.csv", "treasury_10yr")

In [9]:
# Checking the database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('growth_stock',), ('value_stock',), ('inflation_5yr',), ('exchange',), ('CPI',), ('leverage',), ('spending',), ('GDP',), ('treasury_10yr',)]

In [10]:
# Close the connection 
conn.close()